@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

a {
  text-decoration: none;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.text-purple {
  color: rgb(100, 21, 255);
}

/* NAVIGATION */

.nav-container {
  padding: 32px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo--img--wrapper {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.nav__logo--img {
  width: 100%;
  height: 100%;
}

.nav__logo--title {
  color: rgb(36, 62, 99);
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 0.25rem;
  transition: all 300ms ease;
}

.nav__logo:hover .nav__logo--title {
  color: rgb(100, 21, 255);
  box-shadow: outset;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav__links--link {
  color: rgb(36, 62, 99);
  font-weight: 600;
  font-size: 14px;
  margin: 0 24px;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease;
  box-shadow: outset;
}

.nav__links--log-in--link {
  margin-left: 48px;
}

.nav__links--link:hover {
  color: rgb(100, 21, 255);
  border-bottom: 2px solid rgb(100, 21, 255);
}

.nav__links--sigh-up--link {
  font-size: 600;
  font-size: 14px;
  margin: 0 24px;
  transition: all 300ms ease;
  box-shadow: outset;
  padding: 12px 32px;
  color: white;
  background-color: rgb(100, 21, 255);
  border-radius: 9999px;
}

.nav__links--sigh-up--link:hover {
  background-color: rgb(91, 21, 215);
}

/* HEADER */

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.header__info {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.header__img--wrapper {
  width: 60%;
}

.header__img {
  width: 100%;
}

.header__info--title {
  font-size: 3rem;
  color: rgb(26, 32, 44 / 1);
  font-weight: 700;
  line-height: 1.25;
  text-align: left;
}

.header__info--para {
  margin: 2rem 0;
  font-size: 1.125rem;
  color: rgb(36 62 99 / 1);
  text-align: left;
  font-weight: 400;
}

.header__info--partners {
  margin-top: 5rem;
  color: rgb(36, 62, 99);
  opacity: 0.5;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.header__info--partners--pic--wrapper {
  width: 80%;
  margin-top: 1rem;
}

.header__info--partners--pic {
  width: 100%;
}

/* MAIN */

.main__container {
  padding: 6rem 0;
}

.main__features--container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.main__features__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.feature {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  font-size: 16px;
}

.main__features__info--heading {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: rgb(36 62 99);
}

.main__features__info--para {
  text-align: center;
  font-size: 1.125rem;
  margin: 1rem 0;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(124 139 161);
  width: 60%;
}

.main__features--offered--list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.main__features--offered--wrapper {
  width: calc(100% / 3);
  display: flex;
}

.main__features--offered--title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
  margin-top: 1rem;
  color: rgb(36 62 99);
}

.main__features--offered--para {
  margin-top: 1rem;
  font-weight: 500;
  line-height: 2;
  color: rgb(124 139 161);
}

.main__features--offered--img--wrapper {
  padding: 2rem;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 50%;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

/* DESIGN */

.design__container {
  padding: 6rem 0;
}

.design--wrapper {
  display: flex;
}

.design__info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.design__info--subtitle {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1rem;
}

.design__info--title {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
  color: rgb(36, 62, 99);
}

.design__info--para {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(124 139 161);
}

.design__info--link {
  margin-top: 2rem;
  color: white;
  background-color: rgb(100 21 255);
  padding: 1rem;
  display: flex;
  font-size: 0.875rem;
  border-radius: 9999px;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 9rem;
  font-weight: 700;
  transition: all 300ms ease;
}

.design__info--link:hover {
  background-color: rgb(91 21 215);
}

.design__img--wrapper {
  display: flex;
  width: 50%;
  height: 100%;
}

.design__img {
  width: 100%;
  height: 100%;
}
